.App {
  text-align: center;
  background-color: #282c34;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.Title {
  color: white;
}
.row {
  display: flex;
  width: 100%;
  margin: 0 auto 2px;
  
}
.gamekeyboard {
  margin-top: 50px;
  width: 800px;
 
}
.CubeLocation{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 50px;
}