.App {
  text-align: center;
  background-color: #080b0e;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.Title {
  color: white;
}
.row {
  display: flex;
  width: 100%;
  margin: 0 auto 2px;
  
}
.gamekeyboard {
  margin-top: 50px;
  width: 800px;
  justify-content: space-around;
  padding-bottom: 150px;
  align-items: center;
}
#CubeLocation{
  margin-bottom: 100px;

}
.active {
  background-color: green !important;
}
.notInPlace {
  background-color: yellow !important;
}